[Room1]

type = room
name = Room 1
description = You\'re in a room which is completely empty save for the man standing beside you. There is a doorway to the North.
exits = 
	none
	none
	room2
	none
contents = 
	Jim

[Room2]

type = room
name = Room 2
description = You\'re in a living room. The main furnishings are a picture on the wall and a table and chair.
exits = 
	room1
	none
	none
	none
contents = 
	Table
	Picture
	Jim's Glasses